img {
	border-radius: 50%;
	width: 150px;
	text-shadow: 0 0 1px black;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

div {
	width: 40%;
	background-color: #E0E0E0;
	padding: 20px;
	border-radius: 5px;
}

div:hover {
	background-color: #EDD14A;
}

p {
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'Gaegu', cursive;
	font-size: 22px;
}
